<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
Data Science Tools and Ecosystem

In [ ]:
## Introduction
This notebook provides an overview of data science tools and demonstrates basic arithmetic operations using Python.

In [ ]:
## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

In [ ]:
## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn

In [ ]:
## Data Science Tools
| Tool          | Description                            |
|---------------|----------------------------------------|
| Jupyter Notebook | Interactive coding environment       |
| GitHub         | Version control and collaboration      |
| Anaconda       | Package management and environment     |
| Google Colab   | Cloud-based Jupyter notebook service   |

In [ ]:
## Arithmetic Expression Examples
In this section, we will demonstrate basic arithmetic operations using Python.

In [1]:
# Multiply and Add Numbers
a = 5
b = 10
product = a * b
sum = a + b
product, sum

(50, 15)

In [2]:
# Convert Minutes to Hours
minutes = 120
hours = minutes / 60
hours

2.0

In [ ]:
## Objectives
- To explore various data science languages and libraries.
- To demonstrate basic arithmetic operations in Python.
- To convert time units from minutes to hours.

In [ ]:
## Author
Name: Abdul Oluwatobiloba